/* Theme Light */

.b_c.light {
  border: none;
  box-shadow:0 3px 10px rgb(10 10 10 /.1);
}

.b_c.light.info {
  --b_bg: rgb(255 255 255);
  --b_d: rgb(120 120 120);
  --b_svg: rgb(48 160 207);
  --b_t: rgb(40 40 40);
}

.b_c.warning.light {
  --b_bg: rgb(255 255 255);
  --b_d: rgb(120 120 120);
  --b_t: rgb(40 40 40);
  --b_svg: rgb(200 96 34);
}

.b_c.error.light {
  --b_bg: rgb(255 255 255);
  --b_d: rgb(120 120 120);
  --b_t: rgb(40 40 40);
  --b_svg: rgb(205 53 53);
}

.b_c.success.light {
  --b_bg: rgb(255 255 255);
  --b_d: rgb(120 120 120);
  --b_t: rgb(40 40 40);
  --b_svg: #4CAF50;
}

.dark .b_c.light, :root[data-theme='dark'] .b_c.light {
  --b_bg: rgb(48 44 44);
  --b_d: rgb(227 227 227);
  --b_t: rgb(255 255 255);
}